body {
    padding: 0px;
    margin: 0px;
}
/*上半栏*/
.main {
    height: 50px;
    border-bottom: 2px solid gray;
}
/*上半右边的图标*/
.u-li_1 {
    float: left;
}
/*上半左边的退出*/
.u-li_2 {
    float: right;
}
/*上半栏的间距*/
.main-ul {
    margin-top: 10px;
}

/*----------------------------------------------------------*/
/*左边菜单栏*/
.u-left {
    float: left;
    width: 350px;
    height: 700px;
    padding-top: 20px;
    border-right: 2px solid gray;
}
.u-t2 {
    text-align: right;
}
/*右边内容页*/
.u-right {
    height: auto;
    margin-left: 400px;
}
/*内容*/
.u-left_item {
    font-size: 12px;
    font-weight: normal;
    
    top: 0px;
    left: 172px;
    width: 1100px;
    height: 700px;
    margin-left: 50px;
    padding: 15px;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.175);
    z-index: 1000;
    /*margin-top: 68px;*/
    
}


    /*内容1标题栏*/
    .u-left_item h2 {
        font-family: "黑体";
        font-size: 35px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 12px;
        padding-left: 8px;
        color: #707070;
        border-left: 2px solid #707070;
    }
/*内容的分支1*/
.u-table_pernal {
    margin-left: 220px;
    font-size: 26px;
    display: block;
}
/*分支显示表单*/
.u-ul_s {
    width: 500px;
    font-size: 34px;
}


/*按钮样式*/
.u-but {
    text-align: center;
}

li {
    list-style-type: none;
}
/*/*分支内容1的按钮*/
.xia {
    border-radius: 60px;
    background-color: aqua;
    width: 90px;
    margin-left: 170px;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}
/*内容的分支2*/
.pernal_updata {
    margin-left: 220px;
    font-size: 26px;
}


/*分支内容2的按钮*/
.xia1 {
    border-radius: 55px;
    background-color: aqua;
    width: 140px;
    margin-left: 170px;
    text-align: center;
}

.u-updata_address {
    margin-left: 220px;
    font-size: 26px;
}

.u-ul_s1 {
    width: 900px;
    font-size: 20px;
    padding: 1px;
}

.color1 {
    background-color: orange;
}

.u_pstyle {
    margin: 10px 10px 5px 25px;
    padding-bottom: 1px;
    padding-top: 1px;
    outline: none;
    overflow: visible; /*溢出不被剪切*/
    z-index: 7;
}
